:root{
    --primary-color: #FFF;
    --secondary-color: #FFF;
    --third-color: #e8e8e8;
    --fourth-color: #f5f5f5;
    --displayed: initial;
    --announce: initial;
    --image_filter: invert(0);
    --border-color:#000;
}

.dark-theme{
    --primary-color: #000;
    --secondary-color: rgb(29, 29, 29);
    --third-color: #131313;
    --fourth-color: #000000;
    --image_filter: invert(1);
    --border-color:#FFF;
}
/*
    GRADES
*/
.grades-show{
    --displayed: none;
}

.announce-show{
    --announce: none;
}

/*
    FLOATING MENU
*/
div.assigntmentBtn{
    padding-top: 2px;
    padding-bottom: 7px;
}

#ShowAsgnBtn{
    border-radius: 15px;
    background: rgb(184, 183, 183);
}


div.float_menu{
    top: 9%; left: 87%;z-index: 999999;
    width:200px;height:150px;
    background-color: #d0cfcf;
    /*background-image: linear-gradient(to right, #494949, #d0cfcf); */
    position: fixed; transform: translate(-50%, -50%);
    border-radius: 15px;
}

div.float_menu_sub{
    display:flex;
    justify-content: space-around;
}

button.float_menu_top_btn{
    color:rgb(0, 0, 0); 
    background: rgb(184, 183, 183);
    width:50px;height:50px;
    padding: 0px;
    border-radius: 15px;
}

div.announce_sub{
    padding-top: 10px;
    display: var(--announce) !important;
}

div.announce_subLay{
    border: 2px solid var(--border-color) !important;
    padding-left: 5px;
}

/*
    END
*/
.Button:hover{
    background: var(--third-color) !important;
}

img.ic-sidebar-logo__image{
    filter: var(--image_filter) !important;
}


div.grade_value{
    display: var(--displayed) !important;
}

body{
    background-color: var(--primary-color) !important;
}

div.ic-Dashboard-header__layout{
    background-color: var(--primary-color) !important;
}

div.ic-DashboardCard__header_content{
    background-color: var(--secondary-color) !important;
}

/* MODIFY SECONDAY COLOR*/
nav.ic-DashboardCard__action-container{
    background-color: var(--secondary-color) !important;
}

div.todo-details::after{
    background: linear-gradient(to right, var(--primary-color))!important; 
 
}

div.event-details::after{
    background: linear-gradient(to right, var(--primary-color))!important; 
 
}

tr.course-list-table-row{
    background-color: var(--secondary-color) !important;
}

tr.course-list-unpublished-course-row{
    background-color: var(--primary-color) !important;
}

/* MODIFY SECONDAY COLOR*/
div.item-group-container{
    background-color: var(--primary-color) !important;
}

/* MODIFY SECONDAY COLOR*/
div.ig-row{
    background-color: var(--primary-color) !important;
}
/* MODIFY SECONDAY COLOR*/
div.ig-header{
    background-color: var(--primary-color) !important;
}
/* MODIFY SECONDAY COLOR*/
div.header-bar{
    background-color: var(--primary-color) !important;
}

div.roster-tab{
    background-color: var(--primary-color) !important;
}

div.tray-with-space-for-global-nav{
    background-color: var(--secondary-color) !important;
}

div.module-sequence-footer-content{
    background-color: var(--primary-color) !important;
}

#breadcrumbs{
    background-color: var(--primary-color) !important;
}
div.pinned-discussions-v2__wrapper{
    background-color: var(--primary-color) !important;
}
div.unpinned-discussions-v2__wrapper{
    background-color: var(--primary-color) !important;
}

div.closed-for-comments-discussions-v2__wrapper{
    background-color: var(--primary-color) !important;
}

div.ic-discussion-row{
    background-color: var(--primary-color) !important;
}

div.ic-DashboardCard{
    background: var(--secondary-color) !important;
}

div.headerBar{
    background-color: var(--primary-color) !important;
}

article.discussion_entry{
    background: var(--primary-color) !important;
}

a.discussion-reply-box{
    background: var(--primary-color) !important;
}

div.Day-styles__root{
    background: var(--primary-color) !important;
}

div.EmptyDays-styles__root{
    background: var(--primary-color) !important;
}
tbody.fc-body{
    background: var(--primary-color) !important;
}

td.fc-today{
    background: var(--secondary-color) !important;
}

a.Button{
    background: var(--fourth-color) !important;
}

.btn{
    background: var(--fourth-color) !important;
}

.ic-Table.ic-Table--striped tbody tr:nth-child(odd) {
    background-color: var(--fourth-color) !important;
}
    /*
.Button{
    background: var(--fourth-color) !important;
}
*/
/*
img.ic-sidebar-logo__image{
    -webkit-filter: invert(1);
   filter: invert(1);
}
*/